* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  line-height: 1.5;
  font-size: 16px;
  color: #222;
  box-sizing: border-box;
  list-style: none;
}

.inner {
  height: calc(100vh - 100px);
  background: lightblue;
  display: flex;
  justify-content: space-between;
}

#header {
  width: 200px;
  height: calc(100vh - 100px);
  background: lightgoldenrodyellow;
}

.content {
  /* width: calc(100% - 200px); */
  flex-grow: 1;
  /* flex-grow : "확대해라" 1: 확대하세요. 플렉스 아이템에게 넣어줌=> 헤더가 가지고 있는 200px 뺀 만큼 확대해줌  */
  /* clac 또는 flex-grow 사용할 것 */
  height: calc(100vh - 100px);
  background: lightgray;
}

#footer {
  height: 100px;
  background: lightcoral;
}
