/* 전역변수설정 (모든 파일 통일시키겠다)  */
/* 주조색 : primary */
:root {
  --default: #222328;
  --primary: orange;
  --white: #fff;
  --black: #000;
  --widthwrap: 1200px;
  --minHeight: calc(100vh - 100px - 100px - 300px);
  --hdHeight: 100px;
  --ftHeight: 100px;
  --swiper-theme-color: #00ff97;
  --lightgray: gray;
}

/* reset */
/* 웹디자인기능사 볼 때 외울 것 */
* {
  margin: 0;
  padding: 0;
  line-height: 1.5;
  font-size: 16px; /* 기준폰트 */
  text-decoration: none;
  color: var(--default);
  box-sizing: border-box;
  list-style: none;
}

/* 공통 */
.blind {
  position: absolute;
  text-indent: -9999px;
  font-size: 0;
  line-height: 0;
}
/* 시각장애인들에게는 보이고 일반인들에게는 보이지 않음 */

.wrap {
  /* 최대 1200까지 늘어나라! */
  max-width: var(--widthwrap);
  margin: 0 auto;
  /* background: lightyellow; */
}

/* 메인  pc-> 타블렛 -> 모바일 상속 */

/* 공통 - 태블릿*/
@media screen and (max-width: 980px) {
  .wrap {
    padding: 0 30px;
  }
}

/* 공통 - 모바일 */
@media screen and (max-width: 430px) {
  .wrap {
    padding: 0 15px;
  }
}

#header {
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1000;
  /* background: lightpink; */
}

#logo a {
  display: flex;
  width: 200px;
  height: 40px;
  font-size: 1.25rem;
  align-items: center;
  background: var(--primary);
}

#gnb .depth1 {
  display: flex;
}

#gnb .depth1 li {
  position: relative;
}

#gnb .depth2 {
  /* display: none; */
  /* opacity: 0;
  visibility: hidden; */
  position: absolute;
  width: 100%;
  height: 0;
  /* 높이값 0, opacity 사용, visiabilty 사용, 안 줄여진다면 padding0, overflow:hidden 사용 */
  /* 가로 100% 하는 법 : width100% 또는 right 0 */
  /* right: 0; */
  top: 100px;
  left: 0;
  background: var(--primary);
  z-index: 1;
  align-items: center;
  text-align: center;
  flex-direction: column;
  padding: 10px 10px;
  /* transition: all 0.3s; */

  /* display: none은 transition이 먹지 않음; */
  /* opacity, visibility는 실무x  */
}

#gnb .depth2 a {
  display: block;
  padding: 3px;
}

#gnb .depth1:hover {
  background: var(--gray);
}

#gnb .depth1 > li > a:hover {
  background: red;
}
/* li에 마우스 오버시 전체메뉴 보이게 */
/* #gnb .depth1 :hover .depth2 { */
/* li에 마우스 오버시 개별메뉴 보이게 */

#gnb .depth1 > li > a {
  display: flex;
  height: 100px;
  padding: 40px 40px;
  align-items: center;
  padding: 0 50px;
}

/* 헤더 tablet */
@media screen and (max-width: 980px) {
  #header {
    flex-direction: column;
    height: auto;
  }

  #logo a {
    height: auto;
    padding: 20px 0 10px;
    /* margin-top: 20px; */
    align-items: center;
    justify-content: center;
  }
  #gnb .depth1 > li > a {
    height: 50px;
  }
  #gnb .depth2 {
    top: 50px;
  }
}

/* 헤더 - 모바일 */
@media screen and (max-width: 430px) {
  /* #gnb .depth1 > li > a {
	  padding: 0 20px; */
  #gnb {
    width: 100%;
    overflow-x: auto;
  }
  #gnb .depth1 > li > a {
    padding: 0 20px;
  }
}

/* 메인 - 모바일 */

/* 슬라이드 구현 - 애니메이션 */
.slide {
  overflow: hidden;
  position: relative;
  width: 1200px;
  height: 300px;
  margin: 0 auto;
}
.slide ul {
  display: flex;
  position: absolute;
  top: 0;
  left: 50px;
  animation: ani-slide 10s infinite;
}

@keyframes ani-slide {
  0% {
    left: 0;
  }
  30% {
    left: 0;
  }
  33% {
    left: -100%;
  }
  62% {
    left: -100%;
  }
  64% {
    left: -200%;
  }
  96% {
    left: -200%;
  }
  100% {
    left: 0;
  }
}
/* 슬라이드를 위로 띄워야함 */

/* 자식이 3명인 애를 찾아야 함 */

.slide ul a {
  display: block;
  background: var(--primary);
}

/* 슬라이드 부분 a태그를 이미지가 감쌀 수 있도록 : 인라인 -> 블럭 => a태그에서 display:block은 해줘도 되고 안해줘도 됨 */

.slide ul img {
  display: block;
}

/* 아래 색이 보인다. 왜? => 이미지도 인라인 태그임 -> 스페이스
(엔터)가 먹어서 아래 보임 -> 이미지도 블럭으로 바꿔줘야 함 */

/* layout 잡을 때에는 id사용 */
/* logo, header, main, footer */

#main {
  height: 250px;
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.tabs,
.sec-bnr,
.sec-goto {
  width: 33.3333%;
  flex-grow: 1;
  /* 1:true (참),  0:false(거짓)*/
  flex-basis: 0;
  /* 너비가 똑같이 나오도록 */
  padding: 10px 0;
}

.sec-g .sec-tit {
  font-size: 1.125rem;
  /* padding: 0 0 10px 0; 가능 */
  margin-bottom: 10px;
}

.sec-g {
}
/* bbs */
.sec-bbs .list-bbs a {
  /* width: 100%; a태그는 인라인요소라 w100% 안써줘도 100%가 됨*/
  display: block;
  padding: 5px 0;
  /* 원래는 이렇게x 포지션 사용함  */
}

/* .sec-bbs .list-bbs a::before {
  content: "-";
a태그에 넣는법 
} */

.sec-bbs .list-bbs li {
  display: flex;
  align-items: center;
}
.sec-bbs .list-bbs li::before {
  content: "";
  display: inline-block;
  width: 5px;
  height: 5px;
  background: var(--primary);
  margin-right: 10px;
}

/* gally */
.sec-gallery .list-gallery {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.tabs {
  display: flex;
  position: relative;
}
.tabs .sec-g {
  width: 50%;
}

.tabs .sec-tit {
  padding: 3px 0;
  background: #eee;
  text-align: center;
}

.tabs .list-bbs,
.tabs .list-gallery {
  padding-top: 5px;
  padding-left: 5px;
  position: absolute;
  top: 48px;
  left: 0;
  right: 0;
  bottom: 0; /* display: none; */
}

.tabs .tab-cont {
  display: none;
}

/* 활성화 tab 디자인 */
.tabs .active .sec-tit {
  background: palevioletred;
  color: white;
}

.tabs .active .list-bbs {
  display: block;
}

.tabs .active .list-gallery {
  display: flex;
}
/* bnr */

.sec-bnr .sec-tit,
.sec-goto .sec-tit {
  text-indent: -9999px;
  line-height: 0;
  font-size: 0;
  margin-bottom: 0;
}

/* goto */

/* 현정코딩 */
/* .sec-goto ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
} */

/* .sec-goto ul li a {
  display: block;
  width: 195px;
  height: 97.5px;
  text-align: center;
  padding: 40px;
  background-color: lightseagreen;
  border: 1px solid lavender;
} */

/* 선생님코딩 */
.sec-goto .list-goto {
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  justify-content: space-between;
  align-content: space-between;
}

.sec-goto .list-goto li {
  background: lightblue;
  width: 48%;
  height: 48%;
}

/* .sec-goto .list-goto li {
  background: lightblue;
  width: 48%;
  height: 48%;
  text-align: center;
  padding: 40px;
} */

/* 위 : a태그가 너무 작아서 누르기 어려움 => a태그 키워줘야 */

.sec-goto .list-goto a {
  display: block;
  height: 100%;
  text-align: center;
  line-height: 85px;
  /* 높이만큼 행간을 넣어주거나 padding top으로 하거나 가운데정렬 
  아니면 flex 이용 => 요즘많이 사용*/
}

/* 메인 - 타블렛 */
@media screen and (max-width: 980px) {
  #main {
    height: auto;
    flex-wrap: wrap;
    gap: 0;
  }

  .sec-g {
    flex-basis: auto;
    flex-grow: 0;
  }
  .sec-bbs {
    width: 100%;
  }
  .sec-bnr,
  .sec-goto {
    /* gap : 20px 빼고 width설정 48%
	또는 gap을 위에서0으로 한 후 justify 설정해도 됨 */
    /* 또는 아래처럼 계산해서 할 수도 있음 */
    width: calc(100% / 2 - 10px);
  }
}

/* 메인 - 모바일 */
@media screen and (max-width: 430px) {
  .sec-bnr,
  .sec-goto {
    width: 100%;
  }

  .sec-bnr img {
    width: 100%;
    height: 150px;
    object-fit: cover;
  }
}

#footer {
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 2px solid gray;
}

/* 태블릿 - 풋터 */
@media screen and (max-width: 980px) {
  #footer {
    height: auto;
    /* flex-direction: column; 또는 */
    display: block;
    text-align: center;
    background: lightgray;
    padding: 20px 0;
  }
}

.swiper {
  width: 100%;
  height: 300px;
}

/* 모달창 올리기 - 
=> position:absolute 사용 시 :wrap을 200vh로 스크롤 생기게 하면 딸려올라감
=> 모달창은 position: fixed 사용할 것*/
.dimmed {
  display: none;
  background-color: rgba(0, 0, 0, 0.5);
  /* position: absolute; */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  /* 전체화면 만드는 2가지 방법
  1) w100%, h100%
  2) right:0, btm0 */

  z-index: 10000;
}

.modal {
  width: 500px;
  height: 300px;
  background-color: var(--white);
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -150px 0 0 -250px;
  border-radius: 10px;
  border-right: 2px solid lightslategray;
  text-align: center;
  padding: 30px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.modal .modal-hd {
  font-size: 1.5625rem;
  font-weight: bold;
  margin-bottom: 20px;
}
.modal .modal-bd {
  font-size: 1.125rem;
  margin-bottom: 10px;
}

.modal .btn-close {
  position: absolute;
  top: -30px;
  /* left: 0; */
  right: 0;
  width: 50px;
  height: 50px;
  background-color: black;
  border-radius: 50px;
  border: none;
  color: var(--white);
  cursor: pointer;
}

/* position: absolute가 있으면 얘도 기준이 되어서 relative안 넣어도 됨 */

.modal .btn-close::after {
  content: "\f00d";
  font-family: "Line Awesome Free";
  font-weight: 900;
  font-size: 2rem;
}

.modal i {
  color: var(--white);
  font-size: 2rem;
}
